* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 10px;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  color: #333;
  text-transform: uppercase;
  font-size: 15px;
}

header nav ul li button {
  border: 0;
  color: white;
  background-color: hsl(0, 94%, 66%);
  padding: 6px 20px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid hsl(0, 94%, 66%);
}

header nav ul li button:hover {
  color: hsl(0, 94%, 66%);
  background-color: white;
  border: 2px solid hsl(0, 94%, 66%);
}

.main .booking-manager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  gap: 50px;
}

.main .booking-manager .left {
  max-width: 25%;
}

.main .booking-manager .left h2 {
  font-size: 46px;
  line-height: 1.1;
  font-weight: 500;
}

.main .booking-manager .left .description {
  margin: 30px 0;
  font-size: 18px;
  color: grey;
}

.main .booking-manager .left .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main .booking-manager .left .btns button {
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.main .booking-manager .left .btns :nth-child(1) {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: 2px solid hsl(231, 69%, 60%);
  transition: 0.3s;
}

.main .booking-manager .left .btns :nth-child(1):hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
}

.main .booking-manager .left .btns :nth-child(2) {
  transition: 0.3s;
  border: 2px solid transparent;
}

.main .booking-manager .left .btns :nth-child(2):hover {
  border: 2px solid black;
}

.main .booking-manager .img-container {
  width: 27%;
  position: relative;
}
.main .booking-manager .img-container img {
  width: 100%;
}

.main .booking-manager .img-container::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 70%;
  bottom: 0;
  left: 40%;
  z-index: -1;
  background-color: hsl(231, 69%, 60%);
  border-bottom-left-radius: 15vw;
}

/* features */

.main .features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.main .features h1 {
  letter-spacing: 2px;
  font-weight: 500;
}

.main .features .description {
  max-width: 30%;
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.6;
  color: grey;
}

.main .features .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main .features .slider .options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 40px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  padding-bottom: 5%;
  position: relative;
}

.main .features .slider .options h2 {
  display: inline-block;
  width: 50%;
  height: 100%;
  font-size: 0.925em;
  color: hsl(229, 31%, 21%);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.main .features .slider .options h2:hover {
  color: hsl(0, 94%, 66%);
  transition: 0.2s;
}

.main .features .slider .options .line {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 4px;
  background-color: hsl(0, 94%, 66%);
  transition: width 0.2s;
  transition: all 0.5s;
}

.main .features .slider .slides .oneClick {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.main .features .slider .slides .oneClick div {
  width: 40%;
}

.main .features .slider .slides .intelligent {
  display: flex;
  align-items: center;
  opacity: 0;
}

.main .features .slider .slides .share {
  display: flex;
  align-items: center;
  opacity: 0;
}
